# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Flask and Python environment
instance/
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploaded and compressed files
uploads/
compressed/
image_pdfs/
output/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Django and database
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter and notebooks
.ipynb_checkpoints

# Editors and IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Cython debug symbols
cython_debug/

# Pyre and static type checker
.pyre/
.pytype/
.ruff_cache/

# Marimo notebook cache
marimo/_static/
marimo/_lsp/
__marimo__/

# Others
*.egg-info/
*.egg
build/
dist/
